---
import { Image } from "astro:assets";
import Image1 from "../../assets/gallery/1.jpg";
import Image2 from "../../assets/gallery/2.jpg";
import Image3 from "../../assets/gallery/3.jpg";
import Image4 from "../../assets/gallery/4.jpg";
import Image5 from "../../assets/gallery/5.jpg";
import Image6 from "../../assets/gallery/6.jpg";
import Image7 from "../../assets/gallery/7.jpg";
import Image8 from "../../assets/gallery/8.jpg";
---

<section>
    <h2>FOTO RECENTI</h2>
    <p>Esplora l'atmosfera <strong>unica</strong> del nostro <strong>locale</strong>: dalle vele sospese nella "<strong>Sala dell'Aria</strong>", agli angoli tranquilli della "<strong>Sala della Terra e dell'Acqua</strong>"</p>

    <div class="gallery">
        <div class="slide">
            <Image src={Image1} alt="Immagine 1" />  
        </div>
        <div class="slide">
            <Image src={Image2} alt="Immagine 2" />
        </div>
        <div class="slide">
            <Image src={Image3} alt="Immagine 3" />
        </div>
        <div class="slide">
            <Image src={Image4} alt="Immagine 4" />
        </div>
        <div class="slide">
            <Image src={Image5} alt="Immagine 5" />
        </div>
        <div class="slide">
            <Image src={Image6} alt="Immagine 6" />
        </div>
        <div class="slide">
            <Image src={Image7} alt="Immagine 7" />
        </div>
        <div class="slide">
            <Image src={Image8} alt="Immagine 8" />
        </div>
    
        <button type="button" class="prev">&#10094;</button>
        <button type="button" class="next">&#10095;</button>
    </div>
</section>

<style>
    section {
        padding-left: 0;
        padding-right: 0;
    }
    .gallery {
        position: relative;
        width: 100%;
    }
    .slide {
        display: none;
        opacity: 0;
        transition: all 0.2s;
        transition-behavior: allow-discrete;
    }
    .slide img {
        max-width: none;
        width: 100%;
        height: 20rem;
        object-fit: cover;
    }

    button {
        border: 0;
        background: none;
        color: var(--white);
        font-size: 2rem;
        cursor: pointer;
    }
    .prev {
        position: absolute;
        top: 50%;
        left: 0.5rem;
        transform: translateY(-50%);
    }
    .next {
        position: absolute;
        top: 50%;
        right: 0.5rem;
        transform: translateY(-50%);
    }

    @media screen and (min-width: 1000px) {
        .slide img {
            height: 40rem;
        }
    }
</style>

<script>
    let slideIndex = 1;
    showSlides();

    function changeSlides(n) {
        slideIndex += n;
        showSlides();
    }

    function showSlides() {
        let slides = document.querySelectorAll('.slide');
        if (slideIndex > slides.length) {
            slideIndex = 1;
        }
        if (slideIndex < 1) {
            slideIndex = slides.length;
        }

        for (let i = 0; i < slides.length; i++) {
            slides[i].style.display = 'none';
            slides[i].style.opacity = 0;
        }
        slides[slideIndex - 1].style.display = 'block';
        slides[slideIndex - 1].style.opacity = 1;
    }

    document.querySelector('.prev').addEventListener('click', () => changeSlides(-1));
    document.querySelector('.next').addEventListener('click', () => changeSlides(1));
</script>
